@charset="utf-8";

#ghost_fond{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	z-index: 1000;
	text-align: center;
}

#ghost{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../img/bg_infos.jpg");
	background-repeat: repeat-x;
	background-color: white;
	margin: auto;
	width: 400px;
	height: 800px;
	z-index: 1000;
}

	.info_section{
		width: 100%;
		height: 50%;
		margin:0;
		float: left;
		padding: 20px;
		box-sizing: border-box;
	}

	#img_game {
		text-align: center;
	}

	#img_game img{
		width: 290px;
	}

	#text_game{
		text-align: left;
	}	

.over_menu{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	margin: auto;
	width: 600px;
	height: 800px;
	z-index: 1000;
	padding: 15px;
	box-sizing: border-box;
	background-image: url("../img/bg_form.jpg");
	background-repeat: repeat-x;
}

#ghost_exit{
	width: 40px;
	height: 40px;
	overflow: auto;
	position: fixed;
	background-image: url("../img/btn_close.png");
	z-index: 1000;
	right: 10px;
	top: 10px;
	transition: all .3s;
}
#ghost_exit:hover{
	background-image: url("../img/btn_closeH.png");
}

#create_account{
	width: 134px;
	height: 50px;
	background-image: url("../img/btn_insc.png");
	transition: all .3s;
}
#create_account:hover{
	background-image: url("../img/btn_insc_H.png");
}

#inscription{
	
}

#connection{

}

/*--Global--*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

#main{
	width: 100%;
}

/*--MAIN--*/
#nav_ut{
	height: 45px;
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 100;
}

header{
	padding-top: 45px;
	position: relative;
	height: 200px;
	width: 100%;
	background-image: url("../img/banner.jpg");
	background-size: contain;
	background-repeat: repeat-y;
	color: white;
	font-family: font-family: 'Oswald', sans-serif;
	font-size: 3em;
}

#logo{
	float: left;
	overflow: top;
	height: 200px;
	width: 660px;
	background-image: url("../img/logo.png");
}

#container{
	background-image: url("../img/stripe.png");
	background-attachment: fixed;
	width: 100%;
	padding-top: 15px;
}

.console
{
	float: left;
	width: 48.5%;
	height: 300px;
	margin: 0.5%;
	transition: all .3s;
}

.title1{
	width: 100%;
	height: 150px;
	color: white;
	text-align: center;
	background-image: url("../img/titre1_deco.png");
	background-repeat: repeat-x;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0 50px 200px white;
}
#titleXbox{
	background-color: #00A651;
}
#titlePs4{
	background-color: #0058A6;
}
.title2{
	background-color: black;
	position: relative;
	width: 100%;
	height: 60px;
	color: white;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.title3{
	background-color: black;
	position: relative;
	width: 100%;
	height: 60px;
	color: white;
	text-align: center;
	border-radius: 5px;
}
#ps4{
	float: left;
	background-color: #0058A6;
	background-image: url("../img/banner_ps4.png");
	background-position: right;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	transition: all .3s;
}
#ps4:hover{
	float: left;
	background-color: #003C74;
	background-image: url("../img/banner_ps4_H.png");
	background-position: right;
	background-repeat: no-repeat;
	box-shadow: 0 0 0;
}
#xbox{
	float: right;
	background-color: #00A651;
	background-image: url("../img/banner_xbone.png");
	background-position: right;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	transition: all .3s;
}
#xbox:hover{
	float: right;
	background-color: #007C3B;
	background-image: url("../img/banner_xbone_H.png");
	background-position: right;
	background-repeat: no-repeat;
	box-shadow: 0 0 0;
}
#center{
	margin: auto;
	overflow: auto;
	margin-bottom: 15px;
}

.nofloat{
	clear: both;
}

.game_show{
	min-height: 750px;
	position: realtive;
	width: 32%;
	margin: 0.65%;
	background-color: white;
	background-image: url("../img/bg_jeux.jpg");
	background-repeat: repeat-x;
	float: left;
	text-align: center;
	color: black;
	font-size: 1.5em;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
}

.button_slider
{
	margin: auto;
}

#show_off{
	padding-top: 30px;
}

#show_off h1{
	text-align: center;
}

#type1{
	width: auto;
	height: 100px;
	background-color: white;
	padding: 5px;
}

.btn
{
	height: 30px;
	width: 30px;
	background-image: url("../img/btn_zoom.png"); 
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	cursor: pointer;
	transition: all .3s;
}

.btn:hover
{
	background-image: url("../img/btn_zoomH.png"); 
}

.info_game{
	min-height: 500px;
	margin: auto;
	text-align: center;
	width: 250px;
	margin-top: 90px;
}

#achat{
	float: right;
	padding: 2.5px;
}

footer{
	width: 100%;
	height: 300px;
	background-color: black;
	bottom: 0;
	margin-top: 40px; 
}

/*--TEXT--*/
.info_game p {
	margin: 5px;
	display: inline;
}
#baseline{
	position: absolute;
	right: 5%;
	top: 50%;
	text-shadow: 1px 1px 2px #000000;
}
#num_achat{
	font-weight: bolder;
	color: white;
}

/*--TITRES--*/
h1{
	font-family: 'Oswald', sans-serif;
    font-size: 6em;
}
h2{
	font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
	margin-left: 10px;
}
.title3 h2{
	font-size: 2.5em;
}

/*--IMAGES--*/

.presentation{
	margin: auto;
	margin-bottom: 25px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
}
.imgConsole{
	opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
	transition: all .3s;
}
.imgConsole:hover{
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#icon_cart{
	height: 40px;
	display: inline;
    vertical-align: middle;
}
.imgConsole{
	margin-left: 20px;
}

/*--LIENS--*/
#btn_connect{
	font-size: 17px;
    float: right;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 45px;
    padding-left: 35px;
    padding-right: 35px;
    color: #fff;
    background-color: #444;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}


/*--TABLEAUX--*/
table{
	margin: auto;
	width: 500px;
}
#conxForm table {
	margin-top: 40px;
	margin-bottom: 40px;
}
#conxForm table caption {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	text-shadow: 3px 3px 5px white;
	margin-bottom: 20px;
}

#Cart_list{
	text-align: left;
	height: auto;
	background-color: #333;
	border-collapse: collapse;
}

#Cart_list caption{
	font-weight: bold;
	text-align: left;
	background-color: black;
	color: white;
	padding-left: 10px; 
	padding-right: 10px; 
	font-size: 4em;
}

#Cart_list tr{
	height: 40px;
	background-color: #888;
	border-bottom: solid 1px black; 
}

#Cart_list #head_cart{
	border-bottom: solid 0.5px black;
}

#Cart_list #head_cart th{
	color: white;
	background-color: #333;
}


/*--INPUTS--*/
button{
	cursor: pointer;
	margin: auto;
}
.btn_insc{
	border: none;
	width: 134px;
	height: 50px;
	background-image: url("../img/btn_insc.png");
	transition: all .3s;
}
.btn_insc:hover{
	background-image: url("../img/btn_insc_H.png");
}
.btn_conn{
	border: none;
	height: 50px;
	width: 134px;
	background-image: url("../img/btn_conn.png");
	transition: all .3s;
}
.btn_conn:hover{
	background-image: url("../img/btn_conn_H.png");
}
#buy_it
{
	height: 50px;
	width: 100px;
	background-image: url("../img/btn_buy.png");
	transition: all .3s;
	border: none; 
}
#buy_it:hover
{
	background-image: url("../img/btn_buy_H.png");
}
.btnPrec{
	height: 50px;
	width: 50px;
	background-image: url("../img/btn_prec.png");
	transition: all .3s;
	border: none;
}
.btnSuiv{
	height: 50px;
	width: 50px;
	background-image: url("../img/btn_suiv.png");
	transition: all .3s;
	border: none;
}
.btnPrec:hover{
	background-image: url("../img/btn_prec_H.png");
}
.btnSuiv:hover{
	background-image: url("../img/btn_suiv_H.png");
}

